# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target
project/plugins/project/

# Scala
*.class
*.log

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# Scala-IDE specific
.scala_dependencies

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon

# Linux
*.swp
*.swo
*#
*~